.UserPurchasesContainer__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.UserPurchasesContainer__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.UserPurchasesContainer__title{
    color: white;
    display: contents;
    font-family: var(--font-family);
    font-size: 2rem;
}
.cont2{
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    justify-content: center;
    gap: 5px;
}
.UserPurchasesContainer__form input{
    font-size: 25px;
    max-width: 75vw;
}
.requestPurchase__submitBtn{
    padding: 0.5rem;
    color: #fff;
    background: transparent;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 20vw;
}
.requestPurchase__submitBtn:hover{
    background: radial-gradient(circle at 30% 25%, rgba(0, 40, 83, 1) 50%, rgba(4, 12, 24, 1) 100%);
}
.noFound{
    display: contents;
    color: white;
    font-size: 2rem;
}
/* .requestPurchase__noIdBtn{
    color: white;
    background: transparent;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.requestPurchase__noIdBtn:hover{
    color: radial-gradient(circle at 30% 25%, rgba(0, 40, 83, 1) 50%, rgba(4, 12, 24, 1) 100%);;
}  */
