.UserPurchase__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.UserPurchase__name{
    color:white;
    font-family: var(--font-family);
    display: contents;
    font-size: 1rem;
}
.UserPurchase__date{
    color:white;
    font-family: var(--font-family);
    display: contents;
    font-size: 1rem
}
.UserPurchase__itemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    gap:10px;
}
.UserPurchase__img{
    width: 50vw;
}
.UserPurchase__title{
    color: white;
    font-family: var(--font-family);
    display: contents;
}
.UserPurchase__price{
    color: white;
    font-family: var(--font-family);
    display: contents;
}
.UserPurchase__total{
    display: contents;
    color: white;
    font-family: var(--font-family);
    font-size: 2rem;
}
@media screen and (min-width:768px) {
    .UserPurchase__img{
        width: 30vw;
    }  
}
@media screen and (min-width:1200px) {
    .UserPurchase__img{
        width: 20vw;
    }  
}