.card__item-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 3px 5px;
}
.card__item-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}
#addBtn{
    width: 30px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}
#minusBtn{
    width: 30px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    line-height: 10px;

}
#quantity{
    font-size:20px;
    font-family: 'Manrope', sans-serif;
}
.cart__addBtn{
    font-family: 'Manrope', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    align-self:center; 
    text-align: center;
    width: 250px;
}