.nm__navbar-items{
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    margin-left: -10px;
}

@media screen and (max-width: 389px) {
    .nm__navbar-items{
        font-size: 17px;
    } 
}