.card__item{
    border-radius: 2px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    /* box-shadow:  3px 3px 3px #5a5a5a,
                -3px -3px 3px #ffffff;  */
    box-sizing: border-box;
    width: 300px;
    height: fit-content;
    display:flex;
    flex-direction: column;
    padding: 3px 5px;
}
.card__item-descripion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card__item-descripion h1{
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: black;
}
.card__item-descripion span{
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: larger;
}

