.ItemDetail__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    min-height: 74vh;
}
.ItemDetail__container title{
    font-size: 3rem;
    color: white;
    display: block;
    font-family: 'Manrope', sans-serif;
}
.ItemDetail__container p{
    color: white;
    font-family: 'Manrope', sans-serif;
    max-width: 20%;
}
.ItemDetail__container span{
    color: white;
    font-family: 'Manrope', sans-serif;
}
.ItemDetail__cartBtn{
    font-family: 'Manrope', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    align-self:center; 
    text-align: center;
    width: 250px;
    cursor: pointer;
}
.ItemDetail__cartBtn:hover{
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .ItemDetail__container p{
        max-width: 90%;
    }
}