.item__descriptionBtn{
    font-family: 'Manrope', sans-serif;
    text-align: center;
    border: none;
    color: rgba(155,155,155,1);
    background-color: transparent;
    cursor:pointer;
}
.item__descriptionBtn:hover{
    color: black;
    font-weight: 600;
}
.item__descriptionP{
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size:small;
}