.footer__cont{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer__cont title{
 color: white;
 font-size: 2rem; 
 display: flex;
 flex-direction: column;
 font-family: 'Manrope', sans-serif;
}
.footer__cont a{
 text-decoration: none;
 width: fit-content;
 height: 30px;
 color: white;
 font-family: 'Manrope', sans-serif;
}
.footer__cont div{
    width: 20%;
    display: flex;
    flex-direction: column;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer__cont title{
        font-size: 13px;
    }
    .footer__cont a{
        font-size: 7px;
    }
    .footer__cont div{
        max-width: fit-content;
    }
}
@media only screen and (max-width: 600px){
    .footer__cont title{
        font-size: 10px;
    }
    .footer__cont a{
        font-size: 8px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .footer__cont title{
        font-size: 1rem;
    }
    .footer__cont a{
        font-size: 12px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .footer__cont title{
        font-size: 20px;
    }
    .footer__cont a{
        font-size: 15px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.footer__cont title{
    font-size: 25px;
}
.footer__cont a{
    font-size: 12px;
}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}